<md-content>
	<form ng-submit="addEntry()">
  	<section layout="row" layout-sm="row">
		    <md-input-container>
		      <label>Product</label>
		      <input ng-model="entry.name">
		    </md-input-container>
		    <md-button class="md-raised md-primary md-default-theme" ng-transclude style="-webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
		    	<span class="ng-scope">add</span>
		    </md-button>
  	</section>
  	</form>

    <md-list>
      <md-list-item ng-repeat="entry in entryList | filter: {name: entry.name}" layout="row" layout-align="space-between center">
          <div ng-click="toggleDone(entry)" style="width: 100%;">
          <h3 style="{{entry.done ? 'text-decoration: line-through; color: #A0A0A0;' : ''}}">{{entry.name}}</h3>
          </div>
          <a class="md-icon-button md-primary md-button" ng-click="remove(entry)">X</a>
          <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>

  	<section layout="row" layout-sm="row">
	    <md-button 
	    	class="md-raised md-primary md-default-theme" 
	    	ng-transclude 
	    	style="-webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" 
	    	flex
	    	ng-click="showHelp($event)">
	    	<span class="ng-scope">help</span>
	    </md-button>
  	</section>

</md-content>